<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= favicon %>
  </head>
  <body>
    <%= yield %>
    <script src="<%= webpack_asset_path('main') %>"></script>
    <!-- <script src="http://localhost:3020/bundle.js"></script> -->
  </body>
</html>
